

/.env
/public/bundles/
/var/
/vendor/
/.php_cs.cache
/.web-server-pid
/tests/config/parameters.yml
/public/
/.gh-pages/
/.idea/
/.phpunit.result.cache
/.php-cs-fixer.cache

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/tests/config/secrets/prod/prod.decrypt.private.php
/tests/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
