{% trans_default_domain "SoapBundle" %}

{% macro NewKeysBtn(connector) %}

    {% if connector.configuration.Extended | default(false)  %}
        {% set Url = path( "splash_connector_secured_action" , {
            "connectorName" : connector.profile.name,
            "webserviceId" : connector.WebserviceId,
            "action" : "newkeys"
        }) %}
    {% else %}
        {% set Url = path( "splash_nodes_core_generate_keys" , {
            "nodeId" : connector.getSplashType(),
        }) %}
    {% endif %}

    <a class="btn btn-lg btn-block btn-warning text-white" href="{{ Url }}">
        <i class="fa fa-globe">&nbsp;</i>
        {{ 'newkeys.title'|trans }}
    </a>

{% endmacro %}

{% macro NewHostBtn(connector) %}

    {% if connector.configuration.Extended | default(false)  %}
        {% set Url = path( "splash_connector_secured_action" , {
            "connectorName" : connector.profile.name,
            "webserviceId" : connector.WebserviceId,
            "action" : "newhost"
        }) %}
    {% else %}
        {% set Url = path( "splash_nodes_core_wait_new_host" , {
            "nodeId" : connector.getSplashType(),
        }) %}
    {% endif %}

    <a class="btn btn-lg btn-block btn-primary" href="{{ Url }}">
        <i class="fa fa-globe txt-color-white">&nbsp;</i>
        {{ 'new_host.label'|trans }}
    </a>

{% endmacro %}  