{% trans_default_domain "SoapBundle" %}
{% import "SoapBundle:Macros:buttons.html.twig"                   as Buttons %}
   
<div class="panel-group smart-accordion-default " id="accordion">

    <!-- Server Safety Description Block -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false"> 
                    <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i> 
                    <div><i class="fa fa-fw fa-key"></i> {{ 'show.info.security'|trans }}</div>
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
                    {% include 'SoapBundle:Blocks:security.html.twig'  %}                                             
            </div>
        </div>
    </div>                                    
    <!-- End Server Safety Description Block -->


    <!-- Server Description Block -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false"> 
                    <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i> 
                    <div><i class="fa fa-fw fa-info-circle"></i> {{ 'show.info.server'|trans }}</div>
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
                {% include 'SoapBundle:Blocks:description.html.twig' %} 
                {{ Buttons.NewHostBtn(connector) }}
            </div>
        </div>
    </div>
    <!-- End Server Description Block --> 


</div>

  
       